:root {
  --blue: rgb(62, 155, 255);
  --grey: rgb(202, 207, 213);
  --white: rgb(242, 246, 251);
  --orange: rgb(234, 169, 47);
  --temp-overlay: rgba(105, 105, 105, 0.117);
}
html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 1fr 5fr;
}

.container div {
  padding: 15px;
}

.sidebar {
  background-color: var(--blue);
  grid-row: 1 / span 2;
}

.top-section {
  background-color: var(--white);
}

.main-section {
  background-color: var(--grey);
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  gap: 15px;
}

.main-section > div {
  background-color: var(--temp-overlay);
}

.your-projects {
  grid-row: 1 / span 2;
}
