:root {
  --blue: rgb(31, 135, 247);
  --grey: rgb(202, 207, 213);
  --white: rgb(242, 246, 251);
  --orange: rgb(234, 169, 47);
  --temp-overlay: rgba(105, 105, 105, 0.117);
  --description-text: rgb(93, 96, 99);

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 1fr 5fr;
}

.container > div {
  padding: 20px;
}

.sidebar {
  background-color: var(--blue);
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: 75px 1fr 1fr 2fr;
  gap: 30px;
  color: var(--white);
  font-weight: bold;
}

.sidebar > div.corner {
  /*.corner alone feels more specific, but won't beat the previous selector*/
  display: flex;
  align-items: center;
  gap: 15px;
}
.corner svg {
  color: var(--white);
  width: 50px;
}

.sidebar > div {
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: repeat(6, 40px) 1fr;
}

.sidebar > div > .left-space {
  grid-row: 1 / -1;
}

.side-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.side-link svg {
  color: var(--white);
  width: 25px;
}
.side-link img {
  width: 25px;
}

.top-section {
  background-color: var(--white);
}

.main-section {
  background-color: var(--grey);
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  gap: 15px;
}

h4 {
  margin-left: 15px;
}

.main-section p {
  margin-left: 15px;
  margin-top: -15px;
  margin-right: 25px;
  color: var(--description-text);
}

.main-section > div {
  display: grid;
  grid-template-rows: 50px 1fr;
  gap: 15px;
}

.main-section h3 {
  margin-left: 15px;
}

.main-section > div > div {
  background-color: var(--white);
  display: grid;
  grid-template-rows: 50px 1fr;
  gap: 15px;
  border-radius: 10px;
}

.your-projects {
  grid-row: 1 / span 2;
}

.main-section > div > div.your-projects-container {
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr;
  background-color: var(--grey);
}

.your-projects-container > div {
  background-color: var(--white);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: 1fr 45px;
}

.your-projects-container div.orange-slice {
  background-color: var(--orange);
  grid-row: 1 / span 2;
  border-radius: 10px 0 0 10px;
}

.your-projects-container div.project-interaction {
  display: grid;
  grid-template-columns: 30fr repeat(3, 1fr);
  gap: 15px;
}

.your-projects-container div.project-interaction img {
  width: 30px;
}
